<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>微购</title>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
img {
	height: auto;
	width: 100%;
}
</style>
</head>
<body>
	<div class="container">
		<div class="text-center">

			<div align="left"
				style="font-size: 1.6em; line-height: 25px; padding-top: 20px">
				<img alt="" style="width: 108px; height: 108px;"
					src="../../images/logo.png" /> 游戏介绍
			</div>
			<hr />

			<div align="left"
				style="font-size: 1.3em; line-height: 45px; height: 600px;">
				<img alt="" style="width: 30%; margin-right: 30px;"
					src="../../images/0.png" align="left"></img>
				<div align="left">

					<ul style="list-style: none">
						<li>1.独创的微商与游戏结合, 将游戏与购物结合，可通过游戏获得商品打折，让客户可同时获得游戏和购物的双重乐趣</li>
						<li>2.丰富独特的休闲益智游戏，为平台增加用户粘性。玩家之间可以相互挑战，交到志同道合的好友</li>
						<li>3.主题购物与游戏无缝结合,为主题商家定制专属游戏，玩家游戏的同时，可获取更多商品相关信息</li>
						<li>4.玩家有机会可获得实物奖品 在游戏中，玩家有机会获得商家所提供的实物奖品</li>
						<li>5.商家通过游戏成为广告主 通过游戏绑定广告，根据商家所带来的流量，商家可获得对应广告收益</li>
					</ul>
				</div>
			</div>
			<div align="left" style="height: 600px; width: 100%;">
				<div align="left"
					style="font-size: 1.6em; line-height: 25px; padding-top: 20px">
					<img alt="" style="width: 108px; height: 108px;"
						src="../../images/logo.png" /> 游戏截图
				</div>

				<hr />
				<img alt="" style="width: 30%;" src="../../images/1.png"
					align="left"></img> <img alt=""
					style="width: 30%; margin-left: 25px;" src="../../images/2.png"
					align="left"></img> <img alt=""
					style="width: 30%; margin-left: 25px;" src="../../images/3.png"
					align="left"></img>
			</div>

			<div style="width: 300px;margin-top: 30px;height: 150px;">
				
			</div>
		</div>


	</div>

</body>
</html>